/* Mobile */
@media (max-width: 640px) {
  .base-descr-input {
    width: 90%;
    height: 30em;
  }
  .base-method-input {
    width: 50%;
    height: 3em;
  }
}
/* Laptop / Tablet */
@media (min-width: 641px) {
  .base-descr-input {
    width: 80%;
    height: 25em;
  }
  .base-method-input {
    width: 30%;
    height: 3em;
  }
}
