/* @font-face {
  font-family: minecraft-regular;
  src: url("../../fonts/minecraft-regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: minecraft-header;
  src: url("../../fonts/minecraft-header.ttf");
  font-weight: normal;
  font-style: normal;
} */

:root {
  font-family: sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}
