.b-title {
  text-align: center;
}

.b-title h3 {
  margin: 0.5rem;
}

.b-sale {
  background-color: lightcoral;
}

.b-sale p {
  margin: 0;
}

.b-image {
  aspect-ratio: 2 / 1;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.b-li {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.b-li:hover {
  background-color: lightgrey;
}

/* .b-tags {
  padding-left: 2%;
  padding-right: 2%;
}

.b-tags p {
  margin: 0;
} */
