.grid-main {
  display: grid;
}

.page {
  grid-area: page;
  display: grid;
  grid-template-areas: "options" "content";
  grid-template-rows: 1fr 3fr;
}
.options {
  grid-area: options;
}
.content {
  grid-area: content;
}
#sidebar-l {
  grid-area: sidebar-l;
}
#sidebar-r {
  grid-area: sidebar-r;
}

.sidebar {
  background-color: lightgray;
}

/* Mobile */
@media (max-width: 640px) {
  .grid-main {
    grid-template-areas: "page";
    grid-template-columns: 1fr;
  }
}
/* Laptop / Tablet */
@media (min-width: 641px) {
  .grid-main {
    grid-template-areas: "sidebar-l page sidebar-r";
    grid-template-columns: 1fr 6fr 1fr;
  }
}
/* Desktop 1080 */
@media (min-width: 1281px) {
  .grid-main {
    grid-template-areas: "sidebar-l page sidebar-r";
    grid-template-columns: 1fr 4fr 1fr;
  }
}
