.grid-main {
  display: grid;
}

.page {
  grid-area: page;
  background-color: #dad7cdff;
  display: grid;
  grid-template-areas: "options" "content";
}
.options {
  grid-area: options;
}
.content {
  grid-area: content;
}
#sidebar-l {
  grid-area: sidebar-l;
}
#sidebar-r {
  grid-area: sidebar-r;
}

.sidebar {
  background-color: #a3b18aff;
}

/* Mobile */
@media (max-width: 640px) {
  .grid-main {
    grid-template-areas: "page";
    grid-template-columns: 1fr;
  }
}
/* Laptop / Tablet */
@media (min-width: 641px) {
  .grid-main {
    grid-template-areas: "sidebar-l page sidebar-r";
    grid-template-columns: 1fr 6fr 1fr;
  }
}
/* Desktop 1080 */
@media (min-width: 1281px) {
  .grid-main {
    grid-template-areas: "sidebar-l page sidebar-r";
    grid-template-columns: 1fr 4fr 1fr;
  }
}

/* Display input errors as red italic text */
.input-error {
  color: red;
  font-style: italic;
}
/* Display generic errors inside red boxes */
.generic-error {
  color: red;
  background-color: lightpink;
  border-style: solid;
  border-width: 2px;
  border-color: red;
}
