nav.sec-nav {
  background-color: #344e41ff;
  color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.sec-nav-title {
  font-size: x-large;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* if > 780 */
@media (max-width: 780px) {
  /* Display nav buttons below server title */
  nav.sec-nav {
    flex-direction: column;
  }
  /* Descrease the title padding */
  .sec-nav-title {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

/* Have larger server name if screen > 905px */
@media (min-width: 905px) {
  .sec-nav-title {
    font-size: xx-large;
  }
}

nav.sec-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  font-size: larger;
  gap: 1rem;
}

nav.sec-nav a {
  color: inherit;
  text-decoration: none;
}

nav.sec-nav a:hover {
  color: lightgray;
  text-decoration: underline;
}
