.sl-button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 2%;
  background-color: white;
  cursor: pointer;
  height: 100%;
}

.sl-button:hover {
  background-color: lightgrey;
}

.sl-header {
  margin-top: 1%;
  margin-bottom: 1%;
}

.sl-tag {
  margin: 0;
  padding: 0;
}

.sl-desc {
  color: #636363;
}
